<div class="cmd cmd-widget" data-type="info" data-subtype="string" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="height:#height#;width:#width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; padding : 0px;">
    <br/>
    <div class="title #hide_name#">
        <div class="cmdName">#name_display#</div>
    </div>
    <div class="content">
        <img id="imagemove" width="324" height="243"/>
    </div>
  <br/>
  <div class="content-xs">
    <select class="selectCmd" id="selectmove" style="height: 2em;">
        <option value="plugins/doorbirdv2/data/Move/mov1.png">Maintenant</option>
        <option value="plugins/doorbirdv2/data/Move/mov2.png">Avant</option>
        <option value="plugins/doorbirdv2/data/Move/mov3.png">Avant avant</option>
        <option value="plugins/doorbirdv2/data/Move/mov4.png">Avant avant avant</option>
        <option value="plugins/doorbirdv2/data/Move/mov5.png">Avant avant avant avant</option>
    </select>
    <br/>
  </div>
    
  <script>
    jeedom.cmd.update['#id#'] = jeedom.eqLogic.getCmd({
       id: '#eqLogic_id#',
       async: false,
       success: function (cmds#id#) {
          const selectElement = document.getElementById('selectmove');
          
            if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
                
                $("#selectmove").on('change', function () {
                   for (j in cmds#id#) {
                    if(cmds#id#[j].logicalId == 'imagemov'){
                    jeedom.cmd.execute({id: cmds#id#[j].id, value: {select:  document.getElementById('imagemove').src = selectElement.value  + '?t=' + new Date().getTime()}});
                   }
                 }
               })
                   for (j in cmds#id#) {
                     if(cmds#id#[j].logicalId == 'imagemov'){
                       jeedom.cmd.execute({id: cmds#id#[j].id, value: {select:  cmd.querySelector('.content img').src = selectElement.value + '?t=' + new Date().getTime()}});
                   }
                 }
               }
        jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#' }])
      }
    })
  </script>
</div>
