<div class="cmd cmd-widget" data-type="info" data-subtype="string" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="height:#height#;width:#width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; padding : 0px;">
    <br/>
    <div class="title #hide_name#">
        <div class="cmdName">#name_display#</div>
    </div>
    <div class="content">
        <img id="imagemove"style="cursor: zoom-in; max-width: 88%; height: auto;"/>
    </div>
  <br/>
  <div class="content-xs">
    <select class="selectCmd" id="selectmove" style="height: 2em;"></select>
    <br/>
  </div>
    
  <script>
$('#imagemove').on('click', function () {
  var imageSrc = $(this).attr('src');
  var htmlContent = '<img src="' + imageSrc + '" style="display: block; margin: auto; width: 100%; height:100%;">'; //max-width: 100em; height: 80em;
  
  var maxWidth = $(window).width() * 0.8;
  var maxHeight = $(window).height() * 0.8;
  
  $('#md_modal').dialog({ title: "Agrandissement de l'image",
                          
    width: maxWidth,
    height: maxHeight,
    modal: true,
    resizable: false});
  $('#md_modal').html(htmlContent).dialog('open');
});
    jeedom.cmd.update['#id#'] = jeedom.eqLogic.getCmd({
       id: '#eqLogic_id#',
       async: false,
       success: function (cmds#id#) {
          const selectElement = document.getElementById('selectmove');
         
                    // Charger le fichier JSON
fetch('/plugins/doorbirdv2/data/countMove.php')
  .then(response => response.json())
  .then(data => {
   for (let i = 1; i <= data.count; i++) {
            const option = document.createElement('option');
            option.value = `plugins/doorbirdv2/data/Move/mov${i}.png`; 
            option.textContent = `Mouvement (${i})`; 
            selectElement.appendChild(option);
        }
        // Exemple : Gestionnaire d'événement pour afficher la sélection
        selectElement.addEventListener('change', () => {
            const selectedValue = selectElement.value;
        });
          
            if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
                //cmd.querySelector('.content').setAttribute('title', '{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate)
                
                /*if ('#time#' == 'duration' || '#time#' == 'date') {
                    jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
                }*/
              
                $("#selectmove").on('change', function () {
                   for (j in cmds#id#) {
                    if(cmds#id#[j].logicalId == 'imagemov'){
                    jeedom.cmd.execute({id: cmds#id#[j].id, value: {select:  document.getElementById('imagemove').src = selectElement.value  + '?t=' + new Date().getTime()}});
                   }
                 }
                })
                
                //if (_options.value == '') {
                   for (j in cmds#id#) {
                     if(cmds#id#[j].logicalId == 'imagemov'){
                       jeedom.cmd.execute({id: cmds#id#[j].id, value: {select:  cmd.querySelector('.content img').src = selectElement.value + '?t=' + new Date().getTime()}});
                   }
                 }
                /*} else {
                    cmd.querySelector('.content img').src = 'plugins/doorbirdv2/data/no_image.png'
                }*/

            }
       // })
        
        jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#' }])
    })
      }
    })
  </script>
</div>
