<div class="eqLogic eqLogic-widget allowResize allowReorderCmd" data-version="#version#" style="height:#height#;width:#width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; padding : 0px;" data-cmd_id="#cmd_id#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"  data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

    <!--link rel="stylesheet" href="plugins/doorbirdv2/core/template/dashboard/css/style.css"/-->
  
  <center class="widget-name">
   <span class="state"></span>
   <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
	 <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  
  <h3 class="state"></h3>
  <center><div>#path_url_live#</div><center>
  <div >#dooropen# #doorbell# #motion#</div>
  <div id='btnouvre'></div>
  <br/>
  <div id='imageappel'></div>
  <br/>
  <select class="centered" style="width: 50%; text-align:center;" id="appel-select" onchange="change_appel()">
    <option value="plugins/doorbirdv2/data/Appel/appel1.png">Maintenant</option>
    <option value="plugins/doorbirdv2/data/Appel/appel2.png">avant</option>
    <option value="plugins/doorbirdv2/data/Appel/appel3.png">avant avant</option>
    <option value="plugins/doorbirdv2/data/Appel/appel4.png">avant avant avant</option>
    <option value="plugins/doorbirdv2/data/Appel/appel5.png">avant avant avant avant</option>
  </select>
  <br/>
  <br/>
  <div id="imagemov"></div>
  <br/>
  <select class="centered" style="width: 50%; text-align:center;" id="move-select" onchange="change_move()">
    <option value="plugins/doorbirdv2/data/Move/mov1.png">Maintenant</option>
    <option value="plugins/doorbirdv2/data/Move/mov2.png">avant</option>
    <option value="plugins/doorbirdv2/data/Move/mov3.png">avant avant</option>
    <option value="plugins/doorbirdv2/data/Move/mov4.png">avant avant avant</option>
    <option value="plugins/doorbirdv2/data/Move/mov5.png">avant avant avant avant</option>
  </select>
</div>
  

 
<script>

var appel = document.createElement('img');
function change_appel() {
  var select = document.getElementById("appel-select");
  jeedom.cmd.update['#id#'] = jeedom.eqLogic.getCmd({
  id: '#id#',
  async: false,
  success: function (cmds#id#) {
    for (j in cmds#id#) {
      if (cmds#id#[j].logicalId.startsWith("imageappel") && cmds#id#[j].type == 'info' && cmds#id#[j].isVisible == "1") {
        appel.className = 'cmd info';
        appel.setAttribute('data-cmd_id', cmds#id#[j].id);
        appel.style.display = 'block';
        appel.style.webkitUserSelect = 'none';
        appel.style.margin = 'auto';
	appel.src = select.value;
        appel.style.cursor = 'zoom-in';
        appel.style.backgroundColor = 'hsl(0, 0%, 90%)';
        appel.style.transition = 'background-color 300ms';
        appel.width = 324;
        appel.height = 243;
        document.getElementById('imageappel').appendChild(appel);
        //jeedom.cmd.execute({id: cmds#id#[j].id, value: {select: appel.src = select.value}});
      } 
    }
  }
  });
}

var move = document.createElement('img');
function change_move() {
  var select = document.getElementById("move-select");
  jeedom.cmd.update['#id#'] = jeedom.eqLogic.getCmd({
  id: '#id#',
  async: false,
  success: function (cmds#id#) {
    for (j in cmds#id#) {
      if (cmds#id#[j].logicalId.startsWith("imagemov") && cmds#id#[j].type == 'info' && cmds#id#[j].isVisible == "1") {
        move.className = 'cmd info';
        move.setAttribute('data-cmd_id', cmds#id#[j].id);
        move.style.display = 'block';
        move.style.webkitUserSelect = 'none';
        move.style.margin = 'auto';
	move.src = select.value;
        move.style.cursor = 'zoom-in';
        move.style.backgroundColor = 'hsl(0, 0%, 90%)';
        move.style.transition = 'background-color 300ms';
        move.width = 324;
        move.height = 243;
        document.getElementById('imagemov').appendChild(move);
        //jeedom.cmd.execute({id: cmds#id#[j].id, value: {select: move.src = select.value}});
      } 
    }
  }
  });
}

jeedom.eqLogic.getCmd({
  id: '#id#',
  async: false,
  success: function (cmds#id#) {
    for (j in cmds#id#) {
     //console.log(cmds#id#[j].name, cmds#id#[j].type ,cmds#id#[j].subType, cmds#id#[j].logicalId, cmds#id#[j].isVisible, cmds#id#[j].id)
      if (cmds#id#[j].logicalId.startsWith("door") && cmds#id#[j].type == 'action' && cmds#id#[j].isVisible == "1") {
        var button = document.createElement('button');
        button.className = 'btn cmd action';
        button.setAttribute('data-cmd_id', cmds#id#[j].id);
        button.setAttribute('onclick', "jeedom.cmd.execute({id:"+cmds#id#[j].id+"})");
        button.textContent = cmds#id#[j].name;
        button.style.marginRight = '4px';
        document.getElementById('btnouvre').appendChild(button);
      }

      if (cmds#id#[j].logicalId.startsWith("light") && cmds#id#[j].type == 'action' && cmds#id#[j].isVisible == "1") {
        var button = document.createElement('button');
        button.className = 'btn cmd action';
        button.setAttribute('data-cmd_id', cmds#id#[j].id);
        button.setAttribute('onclick', "jeedom.cmd.execute({id:"+cmds#id#[j].id+"})");
        button.textContent = cmds#id#[j].name;
        button.style.marginRight = '4px';
        document.getElementById('btnouvre').appendChild(button);
      }

      if (cmds#id#[j].logicalId.startsWith("imageappel") && cmds#id#[j].type == 'info' && cmds#id#[j].isVisible == "1") {
        var appel = document.createElement('span');
        appel.className = 'cmdName'
        appel.textContent = cmds#id#[j].name;
        document.getElementById('imageappel').appendChild(appel);
        change_appel()
      }
      if (cmds#id#[j].logicalId.startsWith("imagemov") && cmds#id#[j].type == 'info' && cmds#id#[j].isVisible == "1") {
        var move = document.createElement('span');
        move.className = 'cmdName'
        move.textContent = cmds#id#[j].name;
        document.getElementById('imagemov').appendChild(move);
        change_move()
      }
      

    }
 }
});

</script>
